html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.05);
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 29px;
}
#FlexContainer1
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin: 0;
   background-color: #3E78B3;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#about
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 10px 10px 25px 10px;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#PanelLayer
{
   background-color: #3E78B3;
   background-image: none;
}
#PanelLayer_panel
{
   background-color: #3E78B3;
   background-image: none;
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
@media only screen and (max-width:480px) 
{
#PanelLayer
{
   width: 100% !important;
}
#PanelLayer_panel
{
   width: 100% !important;
}
body
{
   margin-left: 0 !important;
}
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu1 a
{
   display: block;
   color: #D3D3D3;
   border: 0px solid #CCCCCC;
   background-color: #3E78B3;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 40px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 40px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #696969;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_CssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Copyrights 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Copyrights div
{
   text-align: center;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon5
{
   height: 42px;
   width: 48px;
}
#FontAwesomeIcon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 42px;
   line-height: 42px;
   vertical-align: middle;
   width: 35px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #F5F5F5;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #0F97F9;
   background: linear-gradient(135deg, #1D6CB5 0%, #0F97F9 100%);
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3
{
   width: 970px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3
{
   width: 100%;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2, #LayoutGrid3 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#skills
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 8px solid #87AED6;
   border-radius: 50%;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#progressbar_uidesign
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   position: relative;
}
#progressbar_uidesign, #progressbar_uidesign .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_uidesign, #progressbar_uidesign .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_uidesign,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_uidesign .ui-widget-header
{
   border-color: #3E78B3;
   background-color: #3E78B3;
   background-image: none;
}
#progressbar_uidesign-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#progressbar_jquery
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   position: relative;
}
#progressbar_jquery, #progressbar_jquery .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_jquery, #progressbar_jquery .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_jquery,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_jquery .ui-widget-header
{
   border-color: #3E78B3;
   background-color: #3E78B3;
   background-image: none;
}
#progressbar_jquery-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#progressbar_php
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   position: relative;
}
#progressbar_php, #progressbar_php .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_php, #progressbar_php .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_php,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_php .ui-widget-header
{
   border-color: #3E78B3;
   background-color: #3E78B3;
   background-image: none;
}
#progressbar_php-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#progressbar_html
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   position: relative;
}
#progressbar_html, #progressbar_html .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_html, #progressbar_html .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_html,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_html .ui-widget-header
{
   border-color: #3E78B3;
   background-color: #3E78B3;
   background-image: none;
}
#progressbar_html-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#Label5
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#Label6
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#Label7
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#Label8
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 10px 0px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading3
{
   color: #3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#wb_close-panel
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_close-panel:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#close-panel
{
   height: 32px;
   width: 32px;
}
#close-panel i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 24px;
}
#wb_close-panel:hover i
{
   color: #F5F5F5;
}
#wb_BlockQuote
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(62,120,179,0.84);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#BlockQuote
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#BlockQuote > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#BlockQuote > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#BlockQuote > .row > .col-1
{
   float: left;
}
#BlockQuote > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#BlockQuote:before,
#BlockQuote:after,
#BlockQuote .row:before,
#BlockQuote .row:after
{
   display: table;
   content: " ";
}
#BlockQuote:after,
#BlockQuote .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#BlockQuote > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_section3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#section3
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.05);
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.05);
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
}
#wb_Quote 
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 4px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #275A87;
   border-right-color: #275A87;
   border-bottom-color: #275A87;
   border-left-color: #275A87;
   padding: 10px 20px 10px 20px;
   margin: 0;
   text-align: left;
}
#wb_Quote div
{
   text-align: left;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3E78B3;
   background-image: none;
   border: 0px solid #2C3E50;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 20px 0px 20px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_FontAwesomeIcon4
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon4
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 8px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon4
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon4:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon6
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon6
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 13px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon6
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon6:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon8
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon8
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 12px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon8
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon8:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3E78B3;
   background-image: none;
   border: 0px solid #233140;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #474745;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #474745;
}
#FontAwesomeIcon1
{
   height: 108px;
   width: 116px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 108px;
   line-height: 108px;
   vertical-align: middle;
   width: 107px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #7B8087;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #474745;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #474745;
}
#FontAwesomeIcon2
{
   height: 108px;
   width: 116px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 108px;
   line-height: 108px;
   vertical-align: middle;
   width: 137px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #7B8087;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon3
{
   height: 108px;
   width: 108px;
}
#FontAwesomeIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 108px;
   line-height: 108px;
   vertical-align: middle;
   width: 137px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #7B8087;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   margin: 0;
   text-align: center;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   margin: 0;
   text-align: center;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading5
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   margin: 0;
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 50px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 50px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 50px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#Line1
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0px 0px 10px 0px;
   padding: 0;
}
#Line2
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0px 0px 10px 0px;
   padding: 0;
}
#Line3
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0px 0px 10px 0px;
   padding: 0;
}
body
{
    width: auto !important;
}
#container
{
    width: 100%;
    height: 100%;
}
#wb_Copyrights
{
   top: auto !important;
   bottom: 20px;
}
